# dev dependencies
build==1.2.2.post1
twine==5.1.1
pipx==1.7.1

# testing dependencies
pytest==8.4.1

# dependencies 
typer==0.16.0
appdirs==1.4.4
requests==2.32.4
beautifulsoup4==4.12.3
urllib3==1.26.18

# pipx install . --force
# pipx run --spec . nauta --help